.wp-block-bys-groups-user-activity {

	.filters__box{
        margin-top: var(--wp--preset--spacing--4);
        background-color: var(--wp--preset--color--gray-100);
        padding: var(--wp--preset--spacing--5) var(--wp--preset--spacing--6);
        border-radius: 1rem;

        .filters__fields{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: var(--wp--preset--spacing--5);
            row-gap: var(--wp--preset--spacing--3);
            margin-bottom: var(--wp--preset--spacing--6);

            .filters__field{
                display: flex;
                flex-direction: column;
            }
        }

        .filters__actions{
            display: flex;
            align-items: center;
            gap: var(--wp--preset--spacing--3);

            .filters__reset{
                background: white;
                color: var(--wp--preset--color--primary);
            }
        }
    }

    .table-wrapper{
        margin-top: var(--wp--preset--spacing--7);

        table{
            width: 100%;
            font-size: var(--wp--preset--font-size--small);
            background: white;
            border-radius: 1.5rem;
            text-align: left;
            border-collapse: collapse;

            thead{

                th, td{
                    background-color: var(--wp--preset--color--primary);
                    color: white;
                    font-weight: 500;
                    padding: var(--wp--preset--spacing--3);
                    border: none;

                    a, i{
                        color: white;
                    }
                }
                
                tr:first-of-type{
                    th:first-of-type{
                        border-top-left-radius: 1.5rem;
                    }
                    th:last-of-type{
                        border-top-right-radius: 1.5rem;
                    }
                }
            }

            tbody{
                tr:not(:last-of-type) td{
                    border-bottom: 1px solid var(--wp--preset--color--gray-200);
                }
                
                td{
                    padding: var(--wp--preset--spacing--3) var(--wp--preset--spacing--4);
                }

                .reporting-table__time{
                    font-size: var(--wp--preset--font-size--x-small);
                }

                .reporting-table__resource-type{
                    display: flex;
                    align-items: center;
                    gap: var(--wp--preset--spacing--1);

                    &__dot{
                        width: 1rem;
                        height: 1rem;
                        border-radius: 9999px;
                        background-color: var(--wp--preset--color--cyan-500);
                    }
                }
            }
        }
    }

    .cell-activity__icon {
        margin-right: var(--wp--preset--spacing--2);
    }

    .cell-object-type__dot {
        display: inline-block;
        width: 0.875rem;
        height: 0.875rem;
        border-radius: 999px;
        margin-right: var(--wp--preset--spacing--2);

        &--achievement {
            background: linear-gradient(315deg, #03C571 0%, #E0FFF1 100%);
        }
        &--lesson {
            background: linear-gradient(315deg, #FC9344 0%, #FEF8EB 100%);
        }
        &--quiz {
            background: linear-gradient(315deg, #8D5D9B 0%, #F4EFF5 100%);;
        }
        &--course {
            background: linear-gradient(315deg, #93D7FE 0%, #DBF2FF 100%);
        }
        &--form, &--survey {
            background: linear-gradient(315deg, #FE4C42 0%, #FFEDEC 100%);
        }
    }
}