.wp-block-bys-groups-user-info {
    background-color: #fff;
    border: 1px solid var(--wp--preset--color--gray-100);
    border-radius: .75rem;
    padding: var(--wp--preset--spacing--5);

    .user-info__header {
        display: flex;
        align-items: center;
        gap: var(--wp--preset--spacing--5);
    }

    .user-info__avatar {
        flex-shrink: 0;

        img {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 9999px;
            object-fit: cover;
        }
    }

    .user-info__name {
        margin: 0 0 var(--wp--preset--spacing--1);
    }

    .user-info__meta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--wp--preset--spacing--4);
        padding-left: 0 !important;
        margin: 0;

        &-item {
            font-size: var(--wp--preset--font-size--x-small);
            color: var(--wp--preset--color--gray-600);
            display: inline-flex;
            align-items: center;
            gap: 0.25rem;
    
            &--active {
                color: var(--wp--preset--color--green-500);
            }
        }
    }
}