.wp-block-bys-groups-user-quiz-attempts-modal {

    /* Modal Styles */
    .quiz-attempts-modal {
        // Modal backdrop
        .modal-backdrop-container {
            background-color: #000;
            opacity: 0.3;
            position: absolute;
            inset: 0;
            z-index: 10;
            cursor: pointer;
            pointer-events: auto;
        }

        &.hs-overlay {
            display: none;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 1000;
            overflow-y: auto;
            padding: var(--wp--preset--spacing--3);

            &:not(.hidden) {
                display: flex;
            }
        }
    }

    .modal__inner {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 1rem;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
        max-width: 48rem;
        width: 100%;
        position: relative;
        z-index: 20;
        max-height: 80vh;
        overflow: hidden;
    }

    .modal__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--wp--preset--spacing--4);
        border-bottom: 1px solid var(--wp--preset--color--gray-200);
        background-color: var(--wp--preset--color--primary);
        color: white;

        * {
            color: white;
        }
        
        .quiz-title {
            font-size: var(--wp--preset--font-size--medium);
            margin-bottom: 0 !important;
        }
    }
    
    .modal__body {
        overflow-y: auto;
        flex: 1;

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: var(--wp--preset--font-size--small);
            text-align: left;
    
            thead {
                background-color: var(--wp--preset--color--primary);
    
                th {
                    color: var(--wp--preset--color--white);
                    padding: var(--wp--preset--spacing--3) var(--wp--preset--spacing--4);
                    font-weight: 400;
                }
            }
    
    
            tbody {
                td {
                    padding: var(--wp--preset--spacing--3) var(--wp--preset--spacing--4);
                }
    
                tr {
                    &:not(:last-of-type) td {
                        border-bottom: 1px solid var(--wp--preset--color--gray-200);
                    }
        
                    &:hover {
                        background-color: var(--wp--preset--color--gray-50);
                    }
                }
            }
    
            .col_attempt_index, .cell_attempt_index {
                text-align: center;
            }
        }
    }

    .status-badge {
        display: inline-block;
        padding: var(--wp--preset--spacing--1) var(--wp--preset--spacing--2);
        border-radius: 0.25rem;

        &--pass {
            background-color: var(--wp--preset--color--green-100);
            color: var(--wp--preset--color--green-700);
        }

        &--fail {
            background-color: var(--wp--preset--color--red-100);
            color: var(--wp--preset--color--red-700);
        }

        &--ungraded {
            background-color: var(--wp--preset--color--orange-100);
            color: var(--wp--preset--color--orange-700);
        }
    }
}